
@media screen and (min-width:576px) {
    #home {
        background-image: url(/images/cover.png);
  
    }
    .home-img{
        width: 50%;
   
    }
    h1{
        
            width: 100%;
            font-size: 4rem;
            line-height: 4rem;
      
        

    }
    .home-content{
        width: 40%;
    }
    
}
